.counter{
    width: fit-content;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

